name: Playwright Tests
on:
  workflow_dispatch:
  schedule:
  - cron: '30 1 * * *'  # Runs at 7:00 AM IST
  pull_request:
    types: [opened, synchronize, reopened] # For testing, TODO: replace this with a workflow to run only changed tests.

jobs:
  test:
    environment: Fyle Staging
    concurrency:
      group: playwright-tests
      cancel-in-progress: false
    timeout-minutes: 120
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: lts/*

    - name: Install dependencies
      run: npm ci

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    - name: Run Playwright tests
      run: npm run test
      env:
        SUPER_ADMIN_EMAIL: ${{ secrets.SUPER_ADMIN_EMAIL }}
        SUPER_ADMIN_PASSWORD: ${{ secrets.SUPER_ADMIN_PASSWORD }}
        API_DOMAIN: ${{ secrets.API_DOMAIN }}
        APP_DOMAIN: ${{ secrets.APP_DOMAIN }}
        INTACCT_COMPANY_ID: ${{ secrets.INTACCT_COMPANY_ID }}
        INTACCT_USER_ID: ${{ secrets.INTACCT_USER_ID }}
        INTACCT_PASSWORD: ${{ secrets.INTACCT_PASSWORD }}
        INTERNAL_API_CLIENT_ID: ${{ secrets.INTERNAL_API_CLIENT_ID }}
        INTERNAL_SIGNUP_TOKEN: ${{ secrets.INTERNAL_SIGNUP_TOKEN }}

    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
